
.size-list {
	margin:auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	padding-bottom:7px;
	overflow-y: hidden; 
}

.size-list input {width:26px;
	height:35px;
	text-align:center;
	line-height:35px;
	font-size:14px;
	display:inline;
	color:#111;
	background:#fff;
	margin:0 1px;
	transition:0.5s;
	border-radius:4px;
    cursor:pointer;
    box-shadow: none;
    border: none;
}

.size-list input:disabled{
    background-color: #fb6e6e;
	color: #fff;}
	
	/* @media screen and (min-width: 700px){
		.size-list {
		
		}
	} */
	.aws-btn {

		--slider-height-percentage: 60%;
		--slider-transition-duration: 747ms;
		--organic-arrow-thickness: 4px;
		--organic-arrow-border-radius: 0px;
		--organic-arrow-height: 40px;
		--organic-arrow-color: #d6b18f;
		--control-button-width: 10%;
		--control-button-height: 25%;
		--control-button-background: transparent;
		--control-bullet-color: #fcd0a8;
		--control-bullet-active-color: #d6b18f;
		--loader-bar-color: #851515;
		--loader-bar-height: 6px;
		}

